/* 
client.css for PROTOTYPE 
drives colors and branding
*/

body {background:#666;}

a:link, a:active, a:visited {color:#609317;}
a:hover {color:#00a8ee;}

#wrapper #primary-navigation {background:#00A8EE;}
#wrapper #primary-navigation a:link, 
#wrapper #primary-navigation a:active,
#wrapper #primary-navigation a:visited {text-decoration:none;color:#fff;}
#wrapper #primary-navigation a:hover {background:#0089BF;-moz-border-radius:5px;-webkit-border-radius:5px;}

#wrapper #content #intro .box.full {width:878px;border:1px solid #555;background:#f5f5f5;}
#wrapper #content #intro .box.full h1 {color:#F47219;}

#wrapper #content #features .box.sm {background:#D0E5AE;}

#wrapper #content #subsection .box.med {width:278px;border:1px solid #ccc;}

#content form .formitem.button input {color:#fff;text-transform:uppercase;border:none;-moz-border-radius:2px;-webkit-border-radius:2px;background:#609317;}
#content form .formitem .fieldWithErrors {margin:0 0 5px 0;background:#ffc;}

#footer {background:#ddd;}
#footer p {color:#777;}

/* Data */
#wrapper #data {float:left;margin:0 0 0 10px;width:704px;}
#wrapper #data .datawrap {float:left;padding:1px;width:702px;border:1px solid #c2c2c2;}
#wrapper #data .datawrap  p.title {font-size:16px;color:#444;}
#wrapper #data .datawrap table,
#wrapper #data .datawrap table.data {margin:0;width:702px;border:1px solid #fff;}
#wrapper #data .datawrap table.data thead th,
#wrapper #data .datawrap table thead th,
#wrapper #data .datawrap table tbody th {padding:5px;font-size:12px;color:#fff;text-transform:uppercase;background:#787878 url(/images/table-th-bg.gif) repeat-x 0 0;}
#wrapper #data .datawrap table.data tbody td,
#wrapper #data .datawrap table tbody td {padding:5px;font-size:12px;color:#333;border-top:1px dashed #ccc;}
#wrapper #data .datawrap table.data tbody tr.alt td,
#wrapper #data .datawrap table tbody tr.alt td {background:#f2f2f2;}
#wrapper #data .datawrap table tbody tr.hilite td,
#wrapper #data .datawrap table tbody tr.alt.hilite td {background:#EFE4B3;}

#wrapper #data .datawrap table.data tbody td.subset {padding:5px 5px 5px 15px;}


#flash #flash_success {background:#ffc url(/images/icon-message.png) no-repeat 8px 10px;border:1px solid #CCCC44;color:#333333;font-size:14px;font-style:normal;font-weight:bold;margin:10px;padding:9px 30px;}
#flash #flash_error {background:#ffc url(/images/icon-message.png) no-repeat 8px 10px;border:1px solid #CCCC44;color:#333333;font-size:14px;font-style:normal;font-weight:bold;margin:10px;padding:9px 30px;}
#flash #flash_notice {background:#ffc url(/images/icon-message.png) no-repeat 8px 10px;border:1px solid #CCCC44;color:#333333;font-size:14px;font-style:normal;font-weight:bold;margin:10px;padding:9px 30px;}

#notice {background:#ffc url(/images/icon-message.png) no-repeat 8px 10px;border:1px solid #CCCC44;color:#333333;font-size:14px;font-style:normal;font-weight:bold;margin:10px;padding:9px 30px;}

.ajax-update {background:#D8FFCC 8px 10px;border:1px solid #A8CF9B;color:#333333;font-size:14px;font-style:normal;font-weight:bold;margin:2px;padding:2px 10px;}

#error_explanation {margin:10px;padding:10px;font-size:12px;color:#333;border:1px solid #cc4;background:#ffc;}
#error_explanation h2 {margin:0;font-size:14px;}
#error_explanation p {margin:0;font-size:12px;}
#error_explanation ul {margin:10px 20px;font-size:12px;}
#error_explanation ul li {margin:5px 0;}

.pagination {margin:0 10px;padding:10px;font-size:12px;text-align:right;border-top:1px solid #ddd;}

.box table {width:100%;border-collapse:collapse;border:1px solid #B0D4D5;font-size:12px;color:#333;}
.box table tr {background:#eee;}
.box table tr.alt {background:#fff;}
.box table th,
.box table td {padding:5px;}
.box table th {font-size:12px;text-transform:uppercase;color:#348687;background:#E4F0F0;border-bottom:1px solid #B0D4D5;}

